spring:
  application:
    name: springBootTemplate
  profiles:
    active: ${profile:dev}

server:
  port: ${server_port:8080}

logging:
  config: classpath:logback/logback_${profile:dev}.xml

# swagger 配置
swagger:
  enable: true
  application-name: ${spring.application.name}
  application-version: 1.0
  application-description: springBootTemplate swagger API
  try-host: http://localhost:${server.port}











